<!DOCTYPE html>
<html lang="en">
    <%- include("template/headProducts") %>

    <body>
        <%- include("template/headerProducts") %>
        <%- include("template/chatForm") %>
        <%- include("template/chatBox") %>


<script src="/socket.io/socket.io.js "></script>
<script src="/js/sockets/tools/regex.js"></script>
<script src="/js/sockets/tools/time.js"></script>
<script src="/js/sockets/interface/ui.js"></script>
<script src="/js/sockets/socketFront.js"></script>
<script src="/js/sockets/main.js"></script>

</body>

</html>