<!DOCTYPE html>
<html lang="en">
<%- include("template/head") %>

    <body>
        <%- include("template/header") %>
        <div class="container">
            <div class="container__frame">

                <h2 class="container__label">
                    Bienvenido! Para comenzar ingrese su usuario o regístrese.
                </h2>
                <div class="wrap">
                    <a href="/signup" class="container__btn">
                        Crear Usuario
                    </a>
                    <a href="/login" class="container__btn">
                        Iniciar Sesión
                    </a>

                </div>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>

</html>