<div class="container">
    <div class="container__frame">
        <h2 class="container__title">Mensajes Insertados</h2>
        <div class="container__boxMessages" id="boxMsg">
        </div>
    </div>
</div>