<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="container__frame">
          <h2 class="container__title">NUEVO PRODUCTO</h2>
          <form class="container__form" method="POST">
    
            <label for="nameProd" class="container__label">Nombre</label>
            <input class="container__input" name="nameProd" type="text" placeholder="Producto" />
    
            <label for="descriptionProd" class="container__label">Descripci贸n</label>
            <textarea class="container__input" name="descriptionProd" rows="10" placeholder="Descripci贸n del Producto"
              required>
          Describa el producto</textarea>
    
            <label for="codeProd" class="container__label">C贸digo de Producto</label>
            <input class="container__input" name="codeProd" type="text" placeholder="C贸digo de Producto" />
    
            <label for="stockProd" class="container__label">Stock</label>
            <input class="container__input container__input-Numbers" name="stockProd" type="number" placeholder="0" />
    
            <label for="priceProd" class="container__label">Precio</label>
            <input class="container__input container__input-Numbers" name="priceProd" type="number" placeholder="0" />
    
            <label for="imgProd" class="container__label">Foto de Producto</label>
            <input class="container__input" name="imgProd" type="text"
              placeholder="https://picsum.photos/200/300?random=1" />
            <input class="container__btn" type="submit" value="Agregar" />
          </form>
        </div>
      </div>

</body>
</html>