<h1 class="display-1 text-center mb-5">Formulario</h1>
<div class="w-100 row aling-items-center justify-content-center">
  <div class="border border-4 w-25">
    <h2 class="text-center mt-3">Nuevo Producto</h2>
    <form
      method="POST"
      action="/api/products/success"
      enctype="multipart/form-data"
      class="row m-1 aling-items-center justify-content-center"
    >
      <label for="nombre">Nombre</label>
      <input
        class="form-control form-control-lg mb-2"
        id="nombre"
        name="nombre"
        type="text"
        value="Producto"
      />
      <label for="marca">Marca</label>
      <input
        class="form-control form-control-lg mb-2"
        id="marca"
        name="marca"
        type="text"
        value="Marca"
      />
      <label for="precio">Precio</label>
      <input
        class="form-control form-control-lg mb-2"
        id="precio"
        name="precio"
        type="number"
        value="0"
      />
      <label for="preview">Vista Previa</label>
      <input
        class="form-control form-control-lg mb-2"
        id="preview"
        name="preview"
        type="file"
      />
      <button type="submit" class="btn btn-warning mb-2 mt-2">Agregar</button>
    </form>
  </div>
</div>