<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container__frame">
            <h2 class="container__title">NUEVO PRODUCTO</h2>
            <form class="container__form" id="formProducts">

                <label for="name" class="container__label">Nombre</label>
                <input class="container__input" id="name" name="name" type="text" value="Producto" />
                <label for="brand" class="container__label">Marca</label>
                <input class="container__input" id="brand" name="brand" type="text" value="Marca" />
                <label for="price" class="container__label">Precio</label>
                <input class="container__input container__input-Numbers" id="price" name="price" type="number"
                    value="1" />
                <label for="image" class="container__label">Marca</label>
                <input class="container__input" id="image" name="image" type="text"
                    value="https://picsum.photos/200/300?random=1" />
                <input class="container__btn" type="submit" value="Agregar">
            </form>
        </div>
    </div>

    <div class="container">
        <div class="container__frame">
            <table>
                <caption class="container__title">
                    PRODUCTOS INVENTARIADOS
                </caption>
                <tr class="container__tableRow">
                    <th class="container__tableHead">Nombre</th>
                    <th class="container__tableHead">Marca</th>
                    <th class="container__tableHead">Precio</th>
                    <th class="container__tableHead">Pre-View</th>
                </tr>
                <tbody id="tbody_product">

                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="container__frame">
            <h2 class="container__title">NUEVO PRODUCTO</h2>
            <form class="container__form" id="formChat">

                <label for="nameChat" class="container__label">Nombre</label>
                <input class="container__input" id="nameChat" name="nameChat" type="text" value="Nombre" required />

                <label for="emailChat" class="container__label">Email</label>
                <input class="container__input" type="email" name="emailChat" id="emailChat"
                    value="direccion@casilla.com" required>

                <label for="messageChat" class="container__label">Mensaje</label>
                <textarea class="container__input" name="messageChat" id="messageChat" rows="10"
                    placeholder="Ingrese un Mensaje" required>Mensaje </textarea>

                <input class="container__btn" type="submit" value="Enviar">
            </form>
        </div>
    </div>

    <div class="container">
        <div class="container__frame">
            <h2 class="container__title">Mensajes Insertados</h2>
            <div class="container__boxMessages" id="boxMsg">
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../tools/regex.js"></script>
    <script src="../interface/ui.js"></script>
    <script src="../js/socket.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>