<div class="container">
    <div class="container__frame">
        <h2 class="container__title"> Para registrarse:</h2>
        <a href="/api/signup" class="container__btn">
            Registrarse
        </a>
        <h2 class="container__title"> Para Iniciar Sesión:</h2>
        <a href="/api/login" class="container__btn">
            Login
        </a>
    </div>
</div>