<h1 class="display-1 text-center mb-5">Productos</h1>
<div class="w-100 row aling-items-center justify-content-center">
  <div class="border border-4 w-25">
    <ul class="list-group-flush col-auto">
      {{#each data}}
      <li class="list-group-item text-center">
        <p class="fw-bold">{{nombre}}</p>
      </li>
      <ul class="list-group list-unstyled">
        <li class="text-center mb-5">
          <p class="fst-italic">${{precio}}</p>
        </li>
      </ul>
      <li>
        <img src={{img}} class="img-thumbnail" alt="producto electrónico" />
      </li>
      {{/each}}
    </ul>
  </div>
  <span class="text-center">
    <a href="/api/products/form" class="btn btn-primary mt-3">
      Agregar Producto</a>
  </span>
</div>