<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css" />
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="container__frame">
      <h2 class="container__title">NUEVO PRODUCTO</h2>
      <form method="POST" action="/api/products/success" class="container__form" enctype="multipart/form-data">
        <label for="nombre" class="container__label">Nombre</label>
        <input class="container__input" id="nombre" name="nombre" type="text" value="Producto" />
        <label for="marca" class="container__label">Marca</label>
        <input class="container__input" id="marca" name="marca" type="text" value="Marca" />
        <label for="precio" class="container__label">Precio</label>
        <input class="container__input container__input-Numbers" id="precio" name="precio" type="number" value="0" />
        
        <label class="container__label container__label-fileBtn" for="preview">
          <span class="container__label-fileBtn-icon"><i class="fa-solid fa-file-image"></i></span>
          <span class="container__label-fileBtn-text"><span>AGREGAR IMAGEN</span></span>
          <input class="container__input container__input-fileBtn" id="preview" name="preview" type="file" />
        </label>

        <button type="submit" class="container__btn">Agregar</button>
      </form>
    </div>
  </div>
</body>

</html>