<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="container__frame">
        <table>
          <caption class="container__title">
            PRODUCTO AGREGADO
          </caption>
          <tbody>
            <tr class="container__tableRow">
              <th class="container__tableHead">Nombre</th>
              <th class="container__tableHead">Marca</th>
              <th class="container__tableHead">Precio</th>
              <th class="container__tableHead">Pre-View</th>
            </tr>
            <tr class="container__tableRow">
              <td class="container__tableData"><%= newProd.nombre %></td>
              <td class="container__tableData"><%= newProd.marca %></td>
              <td class="container__tableData"><%= newProd.precio %></td>
              <td class="container__tableData">
                <img class="container__img" src=<%= `${newProd.img}` %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="container__btn" href="/api/products/form"
        >Agregar otro Producto</a
      >
      <a class="container__btn" href="/api/products/">Ver Inventario</a>
    </div>
  </body>
</html>
