@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Urbanist&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css");

:root {
  --headlines-fnt: "Dosis", Verdana, Tahoma, sans-serif;
  --other-fnt: "Urbanist", Verdana, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a:-webkit-any-link {
  color: rgb(249, 249, 249);
  cursor: pointer;
  text-decoration: none;
}

body {
  background: rgb(23, 0, 64);
  background: linear-gradient(
    145deg,
    rgba(23, 0, 64, 1) 40%,
    rgba(47, 0, 127, 1) 67%,
    rgba(19, 0, 52, 1) 100%
  );
  min-height: 100vh;
}

header {
  background: transparent;
  position: relative;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1em;
}

.bar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--headlines-fnt);
}

.bar_logo {
  color: rgb(235, 235, 235);
  font-size: 2em;
}

.bar_listLinks {
  display: flex;
  list-style: none;
}

.bar_link,
.bar_toggle {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1em;
  color: rgb(235, 235, 235);
}
.bar_link {
  padding-right: 1em;
}

.bar_logo a:hover,
.bar_link a:hover,
.bar_toggle:hover {
  color: rgb(0, 251, 255);
}

.bar_toggle {
  display: none;
}

.hero {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url("../media/hero.jpg");
  opacity: 0.3;
}

.container {
  margin: 1em;
  border-radius: 5pc;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.container__frame {
  width: fit-content;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(137, 137, 137) inset;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.container__tableHead {
  font-family: var(--headlines-fnt);
  font-size: 1.2em;
  font-weight: 200;
}
.container__title {
  font-family: var(--headlines-fnt);
  font-size: 1.5em;
  font-weight: 700;
  padding: 1.2em;
}
.container__subtitle {
  font-family: var(--other-fnt);
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
}

.container__tableData {
  font-family: var(--other-fnt);
  padding-right: 1em;
  text-align: center;
}

.container__img {
  width: 100px;
  height: 100px;
}
.container__btn {
  margin: 1em;
  padding: 0.8em 1em;
  text-decoration: none;
  font-family: var(--other-fnt);
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-radius: 0.3em;
  color: rgb(255, 255, 255);
  background: linear-gradient(75deg, rgb(0, 0, 0) 5%, rgb(47, 46, 62) 100%);
  box-shadow: 0px 10px 14px -7px rgb(97, 97, 116);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.container__btn:hover {
  background: linear-gradient(75deg, rgb(47, 46, 62) 5%, rgb(0, 0, 0) 100%);
}

.container__btn--delete {
  border: 2px rgb(135, 13, 13) solid;
  background: linear-gradient(
    75deg,
    rgb(178, 34, 34) 5%,
    rgb(135, 13, 13) 100%
  );
}

.container__btn--delete:hover {
  background: linear-gradient(
    75deg,
    rgb(135, 13, 13) 5%,
    rgb(178, 34, 34) 100%
  );
}

.container__btn--update {
  border: 2px rgb(22, 51, 51) solid;
  background: linear-gradient(75deg, rgb(22, 51, 51) 5%, rgb(47, 79, 79) 100%);
}

.container__btn--update:hover {
  background: linear-gradient(75deg, rgb(47, 79, 79) 5%, rgb(22, 51, 51) 100%);
}

@media (max-width: 640px) {
  .bar_toggle {
    display: initial;
    z-index: 9;
  }
  .bar_logo {
    z-index: 9;
  }
  .bar_listLinks {
    position: absolute;
    left: 0;
    top: -100vh;
    padding-top: 5em;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
  }
  .bar_link {
    padding-top: 1em;
  }
  .active {
    top: 0em;
  }

  .container__tableHead {
    display: none;
  }
  .container__tableData {
    width: 100%;
    text-align: end;
    text-indent: 5px;
    border-bottom: solid 2px rgb(112, 111, 111);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .container__tableData::before {
    content: attr(data-label);
    font-family: var(--headlines-fnt);
    font-weight: bold;
  }
  .container__tableData-lastData {
    padding-bottom: 2em;
  }
}

/*Formulario clases propias*/
.container__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container__label {
  width: 100%;
  text-align: left;
  font-family: var(--headlines-fnt);
}
.container__input {
  width: 100%;
  margin-bottom: 1em;
  border: solid 2px gray;
  border-radius: 5px;
  resize: none;
}

.container__input-Numbers::-webkit-inner-spin-button,
.container__input-Numbers::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.container__input-fileBtn {
  display: none;
}

.container__label-fileBtn {
  border-radius: 5px;
  background: linear-gradient(75deg, rgb(22, 35, 51) 45%, rgb(46, 57, 99) 100%);
  box-shadow: 0px 10px 14px -7px rgb(97, 97, 116);
  font-family: var(--other-fnt);
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.container__label-fileBtn:hover {
  background: linear-gradient(75deg, rgb(46, 57, 99) 45%, rgb(22, 35, 51) 100%);
}
.container__label-fileBtn-icon {
  padding: 1em 1.5em;
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}

.container__label-fileBtn-text {
  padding: 1em 1.5em;
}

/*Lista de mensajes*/
.container__boxMessages {
  background-color: transparent;
}

.container__ul {
  list-style: none;
  display: flex;
}
.container__li {
  font-family: var(--headlines-fnt);
  padding: 0.5em;
}
.container__li--email {
  font-weight: 700;
  color: rgb(26, 68, 134);
}
.container__li--time {
  font-family: var(--other-fnt);
  color: rgb(186, 97, 33);
}
.container__li--message {
  font-style: italic;
  color: rgb(39, 128, 39);
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

.cardProduct {
  margin: .5em;
  border: solid rgb(0, 0, 0) 5px;
  width: 300px;
  border-radius: 5%;
  box-shadow: rgb(114, 114, 114) -1px -1px 20px 5px;
  overflow: hidden;
}
.cardProduct__img {
  height: fit-content;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.cardProduct__img img {
  width: 300px;
  height: 300px;
}

.cardProduct__frame {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-height: fit-content;
  background: rgb(23, 0, 64);
  background: linear-gradient(
    90deg,
    rgba(23, 0, 64, 1) 0%,
    rgba(13, 58, 91, 1) 5%,
    rgba(6, 94, 108, 1) 50%,
    rgba(4, 102, 109, 1) 50%,
    rgba(6, 89, 101, 1) 90%,
    rgba(9, 71, 91, 1) 95%,
    rgba(19, 0, 52, 1) 100%
  );
}

.cardProduct__title {
  width: 100%;
  text-align: center;
}
.cardProduct__title {
  font-size: calc(1em + 1vw);
  text-align: center;
  color: rgb(255, 255, 255);
}
.cardProduct__description {
  width: 95%;
  font-size: calc(0.5em + 1vw);
  text-align: justify;
  color: rgb(255, 255, 255);
}
.cardProduct__price {
  width: 95%;
  padding-right: 0.8em;
  font-weight: 800;
  font-size: calc(0.5em + 1vw);
  text-align: right;
  color: rgb(255, 255, 255);
}

.cardProduct__btn {
  margin: 0.5em;
  border: 0px;
  border-radius: 5px;
  padding: 10px 18px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(1, 255, 158, 0.5) 5%,
    rgba(46, 202, 168, 0.6) 100%
  );
  color: rgb(216, 216, 216);
  font-size: calc(0.8em + 1vw);
  text-shadow: 1px 1px 8px rgb(255 255 255);
  box-shadow: 0px 10px 14px -7px rgb(0, 0, 0);
}
.cardProduct__btn:hover {
  font-weight: 530;
  text-shadow: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(46, 202, 168, 1) 5%,
    rgba(1, 255, 158, 1) 100%
  );
}

.--back {
  background: linear-gradient(
    180deg,
    rgba(255, 196, 1, 0.5) 5%,
    rgba(202, 173, 46, 0.6) 100%
  );
}

.--back:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 219, 61, 0.8) 5%,
    rgba(255, 196, 0, 0.8) 100%
  );
}