<div class="container">
    <div class="container__frame">
        <h2 class="container__title">Chat</h2>
        <form class="container__form" id="formChat">
            <label for="messageChat" class="container__label">Mensaje</label>
            <textarea class="container__input" name="messageChat" id="messageChat" rows="4"
                placeholder="Ingrese un Mensaje" required>Mensaje Test</textarea>

            <input class="container__btn" type="submit" value="Enviar">
        </form>
    </div>
</div>