<div class="container wrap">
    <div class="container__frame">
        <h2 class="container__title">Crear Producto</h2>
        <form class="container__form" id="createProduct" action="/api/products" method="POST"
            enctype="multipart/form-data">
            <!--Nombre del producto-->
            <label for="title" class="container__label">Nombre</label>
            <input class="container__input" type="text" name="title" id="title" required>
            <!--Precio del producto-->
            <label for="price" class="container__label">Price</label>
            <input class="container__input" type="number" name="price" id="price" required>
            <!--Descripción del producto-->
            <label for="text" class="container__label">Descripción del Producto</label>
            <input class="container__input" type="text" name="text" id="text" required>
            <!--Catergoria del producto-->
            <label for="category" class="container__label">Categoría del Producto</label>
            <input class="container__input" type="category" name="category" id="text" required>
            <!--Imagen-->
            <label for="thumbnail" class="container__label">Imagen del Producto</label>
            <input class="container__input" type="file" name="thumbnail" id="thumbnail" value="Agregar Imagen" required>
            <!--SUBMIT-->
            <input class="container__btn" type="submit" value="AGREGAR PRODUCTO">
        </form>
    </div>
</div>