<header>
    <nav class="bar">
        <div class="bar_logo">
            <a  href="/"><h6>HardwareBulls</h6></a>
        </div>
        <ul class="bar_listLinks">
            <li class="bar_link">
                <a  href="/api/cart">Carrito</a>
            </li>
            <li class="bar_link">
                <a  href="/profile">Perfil Usuario</a>
            </li>
            <li class="bar_link">
                <a href="/logout">Cerrar Sesión
                </a>
            </li>
        </ul>
        <div class="bar_toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
</header>