<header>
    <nav class="bar">
        <div class="bar_logo">
            <a  href="/"><h6>HardwareBulls</h6></a>
        </div>
        <ul class="bar_listLinks">
            <li class="bar_link">
                <a  href="/">Home</a>
            </li>
            <li class="bar_link">
                <a  href="#">Productos</a>
            </li>
            <li class="bar_link">
                <a  href="/signup">SignUp</a>
            </li>
            <li class="bar_link">
                <a href="/login">Login</a>
            </li>
            <li class="bar_link">
                <a  href="#">Perfil Usuario</a>
            </li>
        </ul>
        <div class="bar_toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
</header>