<!DOCTYPE html>
<html lang="en">
<%- include("template/head") %>

    <body>
        <%- include("template/headerLogged") %>
        <div class="container">
            <div class="container__frame">
                <h2 class="container__label">
                    Hola <%= email %>!
                </h2>
            </div>
            <section class="runway">
                <div class="runway__shop">
                    <div class="runway__frame">
                        <div class="runway__headlines">
                            <h3 class="runway__titleText">Tienda</h3>
                        </div>
                        <div class="runway__hitch">
                            <p class="runway__paragraph">
                                Has clic en shop y comienza a comprar!
                            </p>
                        </div>
                        <div class="runway__btnBox">
                            <button class="runway__btn">
                                <a class="runway__ancor" href="/api/products/">Shop</a>
                            </button>
                        </div>
                    </div>
                </div>
        
                <div class="runway__profile">
                    <div class="runway__frame">
                        <div class="runway__headlines">
                            <h3 class="runway__titleText">Perfil</h3>
                        </div>
                        <div class="runway__hitch">
                            <p class="runway__paragraph">
                                Haga clic, en Profile y observa los datos ingresados
                            </p>
                        </div>
                        <div class="runway__btnBox">
                            <button class="runway__btn">
                                <a class="runway__ancor" href="/profile">Profile</a>
                            </button>
                        </div>
                    </div>
                </div>
            </section>

        </div>
            <script src="/js/main.js"></script>
    </body>

</html>