doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Document
    body
        div(class="container")
            div(class="container__frame")
                table
                    caption(class="container__title") PRODUCTOS INVENTARIADOS
                        tbody 
                            tr(class="container__tableRow") 
                                th(class="container__tableHead") Nombre
                                th(class="container__tableHead") Marca
                                th(class="container__tableHead") Precio
                                th(class="container__tableHead") Vista Previa     
                        each pr in data 
                            tr(class="container__tableRow") 
                                td(class="container__tableData" data-label="Nombre:")= pr.nombre
                                td(class="container__tableData" data-label="Marca:")= pr.marca 
                                td(class="container__tableData" data-label="Precio:")= pr.precio
                                td(class="container__tableData container__tableData-lastData" data-label="Vista Previa:")
                                    img(class="container__img" src=pr.img, alt="Producto de Electrónica")
            a(class="container__btn" href="/api/products/form") Agregar nuevo Producto 