<div class="container">
    <div class="container__frame">
        <% if (cart.length > 0){
            <table>
                <caption class="container__title">
                    PRODUCTOS SELECCIONADOS
                </caption>
                <tr class="container__tableRow">
                    <th class="container__tableHead">Nombre</th>
                    <th class="container__tableHead">Marca</th>
                    <th class="container__tableHead">Precio</th>
                    <th class="container__tableHead">Pre-View</th>
                    <th class="container__tableHead">Canasta</th>
                </tr>
                <tbody id="tbody_product">
                    <% cart.forEach((p)=> { %>
                        <tr class="container__tableRow">
                            <td class="container__tableData" data-label="Nombre:">
                                <%= p.name %>
                            </td>
                            <td class="container__tableData" data-label="Marca:">
                                <%= p.brand %>
                            </td>
                            <td class="container__tableData" data-label="Precio:">
                                <p>$ <%= p.price %>
                                </p>
                            </td>
                            <td class="container__tableData container__tableData-lastData" data-label="Vista Previa:">
                                <img class="container__img" alt="Imagen previa de Productos" src=<%=`${p.image}` %>
                            </td>
                            <td class="container__tableData" data-label="Canasta:">
                                <button class="container__btn">
                                    Quitar
                                </button>
                            </td>
                        </tr>
                        <% }) %>
            </table>
            <%}else{%>
                <div class="container">
                    <div class="container__frame">
                        <h2 class="container__title">Su carrito no dispone de productos seleccionados</h2>
                    </div>
                    <%}%>
                </div>
    </div>