<%- include("template/head") %>

<div class="container">
    <div class="container__frame">
        <div id="boxLog">
            <h2  class="container__label"> 
                Bienvenido <%= user %>!
            </h2>
            <a href="/api/logout" class="container__btn"> 
                Log out
            </a>
        </div>
        <h2 class="container__title">Login</h2>
        <form class="container__form" id="formLog" action="/login" method="POST" >
            <label for="nameLog" class="container__label">Ingrese su Nombre de Usuario</label>
            <input class="container__input" id="nameLog" type="text" name="nameLog" required>
            <input class="container__btn" type="submit" value="Enviar">
        </form>
    </div>
</div>
    <body>
        <div class="container">
            <div class="container__frame">
                <h2 class="container__title">NUEVO PRODUCTO</h2>
                <form class="container__form" id="formChat">

                    <label for="emailChat" class="container__label">Email</label>
                    <input class="container__input" type="email" name="emailChat" id="emailChat"
                        value="direccion@casilla.com" required>

                    <label for="nameChat" class="container__label">Nombre</label>
                    <input class="container__input" id="nameChat" name="nameChat" type="text" value="Nombre" required />

                    <label for="lastNameChat" class="container__label">Apellido</label>
                    <input class="container__input" id="lastNameChat" name="lastNameChat" type="text" value="Apellido"
                        required />

                    <label for="yearsOldChat" class="container__label">Edad</label>
                    <input class="container__input" id="yearsOldChat" name="yearsOldChat" type="number" value=50 min=10
                        max=100 required />

                    <label for="nickNameChat" class="container__label">Apodo</label>
                    <input class="container__input" id="nickNameChat" name="nickNameChat" type="text" value="Apodo"
                        required />

                    <label for="urlAvatarChat" class="container__label">Avatar</label>
                    <input class="container__input" id="urlAvatarChat" name="urlAvatarChat" type="text"
                        value="https://i.pravatar.cc/150" required />

                    <label for="messageChat" class="container__label">Mensaje</label>
                    <textarea class="container__input" name="messageChat" id="messageChat" rows="4"
                        placeholder="Ingrese un Mensaje" required>Mensaje Test</textarea>

                    <input class="container__btn" type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="container__frame">
                <h2 class="container__title">
                    <h2 class="container__title">Porcentaje Pasible de ser Comprimido</h2>
                    <div id="boxNormalizr"></div>
            </div>
        </div>
        <div class="container">
            <div class="container__frame">
                <h2 class="container__title">Mensajes Insertados</h2>
                <div class="container__boxMessages" id="boxMsg">
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/fetchLog.js"></script>
        <script src="/tools/regex.js"></script>
        <script src="/tools/time.js"></script>
        <script src="/interface/ui.js"></script>
        <script src="/js/socketFront.js"></script>
        <script src="/js/main.js"></script>


    </body>

    </html>