<div class="container">
    <div class="container__frame">
        <h2 class="container__title">Registrar Usuario</h2>
        <form class="container__form" id="formSignup" action="/api/signup" method="post">
            <!--CORREO-->
            <label for="email" class="container__label">Ingrese su Correo</label>
            <input class="container__input" id="email" type="text" name="email" required autocomplete="email">
            <!--PASSWORD-->
            <label for="password" class="container__label">Ingrese su Contraseña</label>
            <input class="container__input" id="password" type="password" name="password" required
                autocomplete="current-password">
            <!--SUBMIT-->
            <input class="container__btn" type="submit" value="Enviar">
        </form>
    </div>
    <br>
    <div class="container">
        <div class="container__frame">
            <h2 class="container__subtitle"> Para Iniciar sesión:</h2>
            <a href="/api/login" class="container__btn">
                Login
            </a>
        </div>
    </div>
</div>