<div class="container">
    <div class="container__frame">
        <div id="boxLog">
        </div>
        <h2 class="container__title">Login</h2>
        <form class="container__form" id="formLog" action="/login" method="POST" >
            <label for="nameLog" class="container__label">Ingrese su Nombre de Usuario</label>
            <input class="container__input" id="nameLog" type="text" name="nameLog" required>
            <input class="container__btn" type="submit" value="Enviar">
        </form>
    </div>
</div>

