<div class="container">
  <div class="container__frame">
    <h2 class="container__title">
      <ul>
        <li>Id de Sesión: <%= dataUser.sessionID %></li>
        <li>Autenticado: <%= dataUser.auth %></li>
        <li>Expira: <%= dataUser.expiration %></li>
      </ul>
    </h2>
  </div>
</div>
