<div class="container">
    <div class="container__frame">
        <h2 class="container__title">Iniciar Sesión de Usuario</h2>
        <form class="container__form" id="formLog" action="/api/login" method="post">
            <label for="email" class="container__label">Ingrese su Correo</label>
            <input class="container__input" id="email" type="text" name="email" required autocomplete="email">
            <label for="password" class="container__label">Ingrese su Contraseña</label>
            <input class="container__input" id="password" type="password" name="password" required
                autocomplete="current-password">
            <input class="container__btn" type="submit" value="Enviar">
        </form>
    </div>
    <br>
    <div class="container">
        <div class="container__frame">
            <h2 class="container__subtitle"> Para registrarse:</h2>
            <a href="/api/signup" class="container__btn">
                Registrarse
            </a>
        </div>
    </div>
</div>